:root {
	--md-text-font: "Inter", sans-serif;
	--md-typeset-font-size: 14px;
	--md-typeset-line-height: 1.7;
}

body,
.md-typeset {
	text-rendering: optimizeLegibility;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.7;
}

.md-typeset p,
.md-typeset li,
.md-typeset td,
.md-typeset th,
.md-typeset blockquote {
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.7;
}

header {
	
}

/* Accent colors per theme */
:root,
[data-md-color-scheme="default"] {
	--md-accent-fg-color: #e92063!important;
	--md-accent-fg-color--transparent: rgba(233, 32, 99, 0.1);
	--md-accent-bg-color: #ffffff;
	--md-accent-bg-color--light: rgba(255, 255, 255, 0.7);
	--md-typeset-a-color: #e92063!important;
}

[data-md-color-scheme="slate"] {
	--md-accent-fg-color: #a06f90!important;
	--md-accent-fg-color--transparent: rgba(160, 111, 144, 0.15);
	--md-accent-bg-color: #ffffff;
	--md-accent-bg-color--light: rgba(255, 255, 255, 0.7);
	--md-typeset-a-color: #a06f90!important;
	--md-default-bg-color: #000!important;
}

.md-footer-meta {
	--pattern: url('../assets/light/block-heart-pattern.svg');
	--brightness-percentage: 66.67%;
	--brightness: rgba(255 255 255 / var(--brightness-percentage));
	background-image:
		linear-gradient(to bottom, var(--brightness), var(--brightness)),
		var(--pattern);
	background-repeat:
		repeat;
	background-size:
		2.5rem auto;
	background-color: unset;
}

[data-md-color-scheme="default"] .md-footer-meta {
	--pattern: url('../assets/light/block-heart-pattern.svg');
	--brightness: rgba(255 255 255 / var(--brightness-percentage));
}

[data-md-color-scheme="slate"] .md-footer-meta {
	--pattern: url('../assets/dark/block-heart-pattern.svg');
	--brightness: rgba(0 0 0 / var(--brightness-percentage));
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Light / dark variant switching */
[data-md-color-scheme="default"] .md-logo img {
	content: url("../assets/light/logo.svg");
}

[data-md-color-scheme="slate"] .md-logo img {
	content: url("../assets/dark/logo.svg");
}

[data-md-color-scheme="slate"] .only-light {
	display: none !important;
}

[data-md-color-scheme="default"] .only-dark {
	display: none !important;
}