@use "../tokens";

window.bar {

	.tray-button {

		.items {

			>menubutton {


				>button {

					>box {
						padding: tokens.$spacing-medium;

						border-radius: tokens.$radius-small;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
						}

						>contents {
							// background-color: yellow;
						}

						>arrow {
							// background-color: orange;
						}
					}
				}

				>popover {
					margin-top: calc(#{tokens.color-var("popover-margin")} * 3);

					/**
					* Popover arrow indicator.
					*/
					>arrow {}

					/**
					* Popover content container.
					*/
					>contents {

						/**
						* ...
						*/
						>scrolledwindow {
							// background-color: yellow;

							/**
							* ...
							*/
							>scrollbar {
								// background-color: green;

								>range {
									// background-color: yellowgreen;

									>trough {
										// background-color: blue;

										>slider {
											// background-color: red;
										}
									}
								}
							}

							/**
							* ...
							*/
							>viewport {

								/**
								 * ...
								*/
								>stack {

									/**
									 * Container for main menu and title.
									*/
									>box {

										/**
										 * Main menu container.
										*/
										>box {
											// background-color: pink;

											/**
											 * Menu container itself (can be the main, or be accessed through submenu items).
											*/
											>box {

												/*
												 * Separator between menu sections.
												*/
												>separator {
													background-color: tokens.color-var("overlay-darker-2");
													min-height: 2px;
													margin: tokens.$spacing-small 0;
												}

												/*
												 * Menu section container with multiple items.
												*/
												>box {
													// background-color: blue;

													/*
													 * Individual menu item button.
													*/
													>modelbutton {
														// background-color: red;

														&:disabled {
															opacity: 0.5;
														}

														&:hover {
															background-color: tokens.color-var("overlay-darker");

															>label {
																color: tokens.color-var("button-hover-color");
															}
														}

														/*
														 * Left container of the menu item.
														*/
														>box {

															padding: 0 tokens.$spacing-medium;

															/*
															 * Check icon itself.
															*/
															>check {
																border-radius: 100%;

																&:not(:checked) {
																	-gtk-icon-source: -gtk-icontheme("unchecked-circle-symbolic");
																	opacity: 0.75;
																}

																&:checked {
																	-gtk-icon-source: -gtk-icontheme("check-circle-symbolic");
																}
															}
														}

														/*
														 * Menu item label container explaining action.
														*/
														>label {
															// background-color: blue;

															&:hover {
																// background-color: blue;
															}
														}

														/*
														* Menu item keybind display alongside the label.
														*/
														>accelerator {
															opacity: 0.75;
														}

														/*
														 * Rightside arrow icon container for submenu items.
														*/
														>arrow {
															&.left {
																-gtk-icon-source: -gtk-icontheme("arrow-prev-small-symbolic");
															}

															&.right {
																-gtk-icon-source: -gtk-icontheme("arrow-next-symbolic");
															}
														}
													}
												}
											}
										}

										/**
										* Extra menu title (accessible via main menu items with arrows).
										*/
										>modelbutton {
											opacity: 0.8;

											&:hover {
												opacity: 1;
												background-color: tokens.color-var("overlay-darker");

												>label {
													color: tokens.color-var("button-hover-color");
												}
											}

											/*
											 * Leftside arrow icon container for submenu items.
											*/
											>box {
												padding: 0 tokens.$spacing-small;

												>arrow {
													&.left {
														-gtk-icon-source: -gtk-icontheme("arrow-prev-small-symbolic");
													}

													&.right {
														-gtk-icon-source: -gtk-icontheme("arrow-next-symbolic");
													}
												}
											}

											/*
											 * Menu item label container containing title of this extra menu.
											*/
											>label {}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}