.top-bar {

  font-size: 13.75px;
  font-weight: bolder;
  //background-color: $bg-color;

  .left-part {

    .logo {

      margin-left: 0.5rem;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 0px center;

    }

    .title {

      font-family: $font;
      margin-left: 1rem;
      padding-top: 1px;
      font-size: 12px;
      font-weight: bolder;
      color: $fg-color-light;

    }

    .title-name {

      padding-left: 1rem;

      color: $fg-color-lighty;
      font-size: 11px;

      &:hover {

        color: $fg-color-light;

      }


    }

  }

  .camera {

    * > * > * {

      padding: 0 1rem 0 0.5rem;
      background-color: rgba(0,0,0,0.2);
      color: $fg-color-lighty;

      font-family: $font-icon;
      font-size: 12px;

      transition: color 500ms linear;

    }

    *:hover > * > * {

      color: $fg-color-light;

    }


  }

  .song-handler {

    font-family: $font;

    .song {

      font-size: 12px;


      .highlight {

        color: $fg-color-highlight;

      }

      .normal {

        color: $fg-color-light;

      }

      .aside {

        color: $fg-color-lighting;
        padding: 0 0.5rem;

        &:hover {

          color: $fg-color-lighty;

        }

      }

    }

  }

}
