# Filers/folders to organise later.
**/.organise/

# Syncthing files.
**.sync-conflict**

# javascript package manager hell
**/package-lock.json
**/node_modules/

# 1. removing logs-or-history related files.
# zsh
/configuração/local/zsh/.zsh_history

# fcitx5
/configuração/local/fcitx5/conf/cached_layouts

# mpv
/configuração/local/mpv/watch_later/
/configuração/local/mpv/scripts/autosub.lua
/configuração/local/mpv/playlists

# git
/configuração/local/git

# ncmpcpp
/configuração/local/ncmpcpp/**
!/configuração/local/ncmpcpp/config

# mpd
/configuração/local/mpd/**
!/configuração/local/mpd/mpd.conf

# mpdscribble
/configuração/local/mpdscribble

# mozc
/configuração/local/mozc

# mopidy
/configuração/local/mopidy

# nvim
/configuração/local/nvim/session.vim
/configuração/local/nvim/lazy-lock.json

# nushell
/configuração/local/nushell/history.txt

# gimp
/configuração/local/GIMP/2.10/**
!/configuração/local/GIMP/2.10/themes
!/configuração/local/GIMP/2.10/themes/**
!/configuração/local/GIMP/2.10/splashes
!/configuração/local/GIMP/2.10/splashes/**

# Ignore SSH.
/configuração/local/ssh

# ags
/configuração/local/ags/style.css
**/bun.lockb
**/node_modules

# Ignore clipboard
/subconfiguração/clipboard/

# Ignore fonts (copyright).
/subconfiguração/fontes/

# Ignore icons (copyright).
/subconfiguração/ícones/

# Ignore siyoek (personal database).
/subconfiguração/sioyek/

# Ignore nushell (needs organising).
/subconfiguração/nushell/

# Ignore themes (mostly are git repositories themselves).
/subconfiguração/temas/

# Organization files.
/.organização
