# Filers/folders to organise later.
**/.organise/

# ignore the scripts, instead redirect.
/scripts/

# services for executables
/local/services/**/supervise
/runit-services/**/supervise

# javascript package manager hell
**/package-lock.json
**/node_modules/

# 1. removing logs-or-history related files.
# zsh
/config/zsh/.zsh_history

# mpv
/config/mpv/watch_later/
/config/mpv/scripts/autosub.lua

# ncmpcpp
/config/ncmpcpp/**
!/config/ncmpcpp/config

# mpd
/config/mpd/**
!/config/mpd/mpd.conf

# mpdscribble
/config/mpdscribble

# mozc
/config/mozc

# mopidy
/config/mopidy

# nvim
/config/nvim/session.vim

# nushell
/config/nushell/history.txt

# gimp
/config/GIMP/2.10/**
!/config/GIMP/2.10/themes
!/config/GIMP/2.10/themes/**
!/config/GIMP/2.10/splashes
!/config/GIMP/2.10/splashes/**

# ags
/config/ags/style.css
/config/ags/config_old.js
/config/ags/bun.lockb
