.ccls-cache
**/zsh/.zsh_history
**/mpv/watch_later/
**/mpv/scripts/autosub.lua
**/ncmpcpp/**
!**/ncmpcpp/config
**/mpd/**
!**/mpd/mpd.conf
**/mpdscribble
**/mozc
**/mopidy
**/copyq/**
!**/copyq/themes/
**/nvim/session.vim
**/GIMP/2.10/**
!**/GIMP/2.10/themes/
!**/GIMP/2.10/splashes/
