// Colours for everyone.
@import "./colours.scss";

// Bottom and top bar.
@import "./bars/top.scss";
@import "./bars/bottom.scss";

// Song viewer.
@import "./floating/mpd.scss";

// Calendar viewer.
@import "./floating/calendar.scss";

// Center menu.
@import "./overview/menu.scss";

* {

  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  all: unset;

}

window {

  background: transparent;
  padding: 0;
  margin: 0;

}
