//@use "./floating/switch.scss";

* {

  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  all: unset;

}


.calendar {

  font-family: "Noto Sans CJK JP";
  font-size: 13px;

  &:selected { 

    background-color: rgba(0,0,0,0.5);

  }

}






//.mpd {
//
//	padding: 1rem 1rem;
//	background-image: url('/tmp/cover_blur.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//	background-position: center;
//
//}
//
//.mpd-image {
//
//	margin-left: 1rem;
//	border-radius: 100%;
//	border: 2px solid rgba(255,255,255,0.2);
//   background-size: 96px;
//	box-shadow: 0px 0px 6px rgba(255,255,255,0.2);
//   background-repeat: no-repeat;
//	background-position: center;
//
//}
//
//.names {
//	padding: 0 10rem 0 1.5rem;
//	font-family: "Comic Mono";
//	text-shadow: 1px 1px 4px rgba(255,255,255,0.2);
//	font-size: 17px;
//	letter-spacing: 2px;
//}
//
//.mpd-artist {
//
//	font-weight: bolder;
//	margin-top: 2.25rem;
//
//}
//










/*
 * The menu where we shutdown things.
 */

window {

  background: transparent;
  padding: 0;
  margin: 0;

}

.bot-bar {

  background-color: rgba(0,0,0,0.5);
  font-size: 13.75px;

  .more-up {

    font-size: 8px;
    padding-right: 0.2rem;
    padding-top: 1px;
    color: rgba(255,255,255,0.5);

  }

  .menu-window {


    .menu {

      background-image: url("/home/iris/.local/share/icons/menu.svg");
      background-size: 17px;
      background-repeat: no-repeat;
      padding: 0 0.5rem;
      margin-right: 0.25rem;
      background-position: center;
      opacity: 0.8;

    }

    &:hover > .menu {

      opacity: 1;


    }

  }

  .time-handler {

    padding: 0; margin: 0;

    .time {

      color: rgba(255,255,255,0.85);

      font-weight: bold;
      font-size: 13px;

      padding-left: 0.8rem;
      padding-right: 0.666rem;

      padding-top: 1px;

      .last {

        //margin-bottom: 1px;
        font-size: 12px;

      }

      .normal {

        margin-top: 1px;

      }

      .special {

        color: #AAAAAA;
        margin-top: 1px;

      }

    }

  }

  .volume-handler {

    color: rgba(255,255,255,0.8);

    .icon {

      padding: 1px 0 0 0.5rem;
      font-size: 14px;

    }

    scale {

      trough {

        background-color: #271f16;
        border-radius: 50px;
        min-height: 5px;
        min-width: 100px;
        margin: 0 10px 0 10px;

        highlight {

          all: unset;
          background-color: #FBD599;
          border-radius: 10px;

        }

      }

    }

  }

  .layout {

    button {

      transition: all 200ms linear;

    }

    &:hover > button {

      background-color: rgba(0,0,0,0.2);
      color: #DC9AC8;

    }

  }

  .tag-list {

    padding: 0 .5rem;

    button {

      padding: 0 .666rem;

      transition: all 125ms linear;

      &.chosen-occupied {

        color: white;

      }

      &.chosen {

        color: rgba(255,255,255,0.75);

      }

      &.not-chosen {

        color: rgba(255,255,255,0.5);
        font-size: 12px;
        padding-top: 1px;

      }

    }

    *:hover {

      button {

        color: white;

      }

    }

    .add {

      color: rgba(255,255,255,0.18);

    }

  }

  .title-handler {

    font-weight: bolder;

    * {

      transition: all 250ms linear;

    }

    .icon {

      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 11px;
      border-bottom: 1px solid transparent;

    }

    .not-selected {

      opacity: 0.44;

    }

    *:hover {

      opacity: 1;
      border-bottom: 1px solid white;

    }

    .selected {

      opacity: 1;
      border-bottom: 1px solid white;
      background-color: rgba(255,255,255,0.1);

    }

  }

  .name-logo {

    color: white;
    font-size: 12px;
    font-weight: bold;

    label {

      transition: 250ms linear color;
      padding-top: 2px;

      &:last-child {
        padding-right: 0.5rem;
      }

    }

    &:hover {

      label:nth-child(1) { color: #4BA579; }
      label:nth-child(2) { color: #CC99C9; }
      label:nth-child(3) { color: #9EC1CF; }
      label:nth-child(4) { color: #9EE09E; }
      label:nth-child(5) { color: #FDFD97; }
      label:nth-child(6) { color: #FEB144; }
      label:nth-child(7) { color: #FF6663; }

    }

  }

}


.top-bar {

  font-size: 13.75px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);

  .left-part {

    .logo {

      margin-left: 0.5rem;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 0px center;

    }

    .title {

      font-family: "Noto Sans CJK JP";
      margin-left: 1rem;
      padding-top: 1px;
      font-size: 12px;
      font-weight: bolder;
      color: white;

    }

    .title-name {

      padding-left: 1rem;

      color: rgba(255,255,255,0.75);
      font-size: 11px;

      &:hover {

        color: white;

      }


    }

  }

  .camera {

    * > * > * {

      padding: 0 1rem 0 0.5rem;
      background-color: rgba(0,0,0,0.2);
      color: rgba(255,255,255,0.75);

      font-family: 'JetBrainsMono Nerd Font';
      font-size: 12px;

      transition: color 500ms linear;

    }

    *:hover > * > * {

      color: white;

    }


  }

  .song-handler {

    font-family: 'Noto Sans CJK JP';

    .song {

      font-size: 12px;


      .highlight {

        color: #29C590;

      }

      .normal {

        color: white;

      }

      .aside {

        color: rgba(255,255,255,0.5);
        padding: 0 0.5rem; 

        &:hover {

          color: rgba(255,255,255,0.75);

        }

      }

    }

  }

  
  .cpu-handler {

    .cpu {

      background-color: rgba(0,0,0,0.2);

      .number {

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: 0;
        margin-top: 1px;

      }

      .icon {

        background-color: rgba(0,0,0,0.3);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 2px;

      }

      .one   { color: #87C7E4; }
      .two   { color: #BDCDD7; }
      .three { color: #FAFBC2; }
      .four  { color: #FF4464; }

    }

  }

  .power-handler {

    background-color: #C92430;

    padding-left: 0.5rem;
    padding-right: 0.69rem;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;

    &:hover {

      background-color: #E91E63;

    }

  }

}




.powermenu {

  background: rgba(0, 0, 0, 0.55);
  padding: 0rem;
  margin: 0;
  padding: 0.3rem 2.5rem;

  * {

    padding: 0;
    margin: 0;
    border: none;
    background: transparent;

    * {

      font-size: 30px;

    }

  }

  button:hover * {

    color: white;
    transition: color 250ms linear;

  }

}
