.bot-bar {

  font-size: 13.75px;
  font-weight: bolder;

  // 1. #. Windows in the center.
  .menu-window {

    .menu {

      padding: 0 0.25rem;
      margin-right: 0.25rem;
      opacity: 0.8;

      color: $fg-windows;
      text-shadow: $text-shadow-settings rgba($fg-windows, 0.5);
      font-weight: bolder;

    }

    &:hover > .menu {

      opacity: 1;

    }

  }

  // 1. #. Windows.
  .windows {

    font-weight: bolder;

    * {

      transition: all 250ms linear;
      border-radius: 4px;

    }

    .icon {

      background-color: rgba($bg-windows, 0.65);

      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;

      padding: 0 11px;

      border-bottom: 1px solid rgba($bg-windows, 0.85);

    }

    .not-selected {

      opacity: 0.44;

    }

    *:hover {

      opacity: 1;
      //border-bottom: 1px solid rgba($bg-windows, 0.5);

    }

    .selected {

      opacity: 1;
      //background-color: rgba($bg-windows, 0.75);

    }

  }

  // 1. #. Time/date.
  .time {

    color: rgba($fg-time-date, 0.85);

    font-weight: bold;
    font-size: 11px;

    text-shadow: $text-shadow-settings rgba($fg-time-date, 0.25);
    padding-left: 0.8rem;

    margin-right: 1rem;

  }

  .climate {

    color: $fg-climate;
    font-size: 0.9rem;

    .image {

      background-repeat: no-repeat;
      background-position: center;

      background-size: 1.5rem;

    }

    scrollbar {

      background-color: transparent;
      min-height: 5px;

      //&.fine-tune {}

      trough {

        min-height: 15px;
        margin-bottom: 3px;
        background-color: transparent;

        //slider { }

      }

    }

    .a {

      margin-right: 0.75rem;

    }

  }

  .volume-handler {

    .icon {

      color: rgba($fg-tray-volume, 0.85);
      padding: 1px 0 0 0.5rem;
      font-size: 14px;

    }

    scale {

      trough {

        background-color: $fg-tray-volume;
        border-radius: 50px;
        min-height: 5px;
        min-width: 100px;
        margin: 0 10px 0 10px;
  
        highlight {

          all: unset;
          background-color: $fg-tray-volume-highlight;
          border-radius: 10px;

        }

      }

    }

  }

  .layout {

    color: $fg-layout;

    button {

      transition: all 200ms linear;

    }

    &:hover > button {

      background-color: $bg-layout-hover;
      color: $fg-layout-hover;

    }

  }

  .tag-list {

    padding: 0 .5rem;

    button {

      padding: 0 .666rem;

      transition: all 125ms linear;

      text-shadow: $text-shadow-settings rgba($fg-tags, 0.25);

      &.chosen-occupied {

        color: $fg-tags;

      }

      &.chosen {

        color: rgba($fg-tags, 0.75);

      }

      &.not-chosen {

        color: rgba($fg-tags, 0.5);
        font-size: 12px;
        padding-top: 1px;

      }

    }

    *:hover {

      button {

        color: $fg-tags;

      }

    }

    .add {

      color: $fg-tags-more;

    }

  }

  .more-up {

    font-size: 8px;
    padding-left: 0.6rem;
    color: $fg-context-menu;
    text-shadow: $text-shadow-settings rgba($fg-context-menu, 0.25);

  }

}

.top-bar {

  font-size: 13.75px;
  font-weight: bolder;

  .left-part {

    .logo {

      margin-left: 0.5rem;
      text-shadow: $fg-logo rgba($fg-logo, 0.25);

    }

    .title {

      font-family: $font;
      margin-left: 1rem;
      padding-top: 1px;
      font-size: 12px;
      font-weight: bolder;

      color: $fg-program-name;
      text-shadow: $text-shadow-settings rgba($fg-program-name, 0.25);

    }

    .title-name {

      padding-left: 1rem;

      color: $fg-program-title;
      text-shadow: $text-shadow-settings rgba($fg-program-name, 0.15);
      font-size: 11px;

      scrollbar {

        background-color: transparent;
        min-height: 5px;

        //&.fine-tune {}

        trough {

          min-height: 15px;
          margin-bottom: 3px;
          background-color: transparent;

          //slider { }

        }

      }

    }

  }

  .camera {

    * > * > * {

      padding: 0 1rem 0 0.5rem;
      color: $fg-tray-camera;

      font-family: $font-icon;
      font-size: 12px;

      transition: color 500ms linear;

    }

    *:hover > * > * {

      color: $fg-tray-camera-highlight;

    }


  }

  .center-bar {

    //background-color: red;

    font-family: $font;

    text-shadow: $text-shadow-settings rgba($fg-song, 0.5);

    .left-scroll, .right-scroll {

      font-size: 0.9rem;

    }

    .center-scroll, .left-scroll, .right-scroll {

      scrollbar {

        background-color: transparent;
        min-height: 5px;

        //&.fine-tune {}

        trough {

          min-height: 15px;
          margin-bottom: 3px;
          background-color: transparent;

          //slider { }

        }

      }

    }

    //.left-scroll {

    //  font-size: 0.9rem;

    //}

    .center-scroll {

      font-size: 1rem;

    }

    //.right-scroll {

    //  font-size: 0.9rem;

    //}

  }

}
