.bot-bar {

  //background-color: $bg-color;
  font-size: 13.75px;
  font-weight: bolder;

  .more-up {

    font-size: 8px;
    padding-left: 0.6rem;
    color: rgba($fg, 0.5);;

  }

  .menu-window {

    .menu {

      background-image: $bot-menu-image;
      background-size: 17px;
      background-repeat: no-repeat;
      padding: 0 0.5rem;
      margin-right: 0.25rem;
      background-position: center;
      opacity: 0.8;

    }

    &:hover > .menu {

      opacity: 1;

    }

  }

  .time-handler {

    padding: 0; margin: 0;

    .time {

      color: rgba($fg, 0.85);

      font-weight: bold;
      font-size: 11px;

      padding-left: 0.8rem;

      //.last {

      //}

      //.normal {

      //}

      .special {

        color: rgba($fg, 0.85);

      }

    }

  }

  .volume-handler {

    color: rgba($fg, 0.85);

    .icon {

      padding: 1px 0 0 0.5rem;
      font-size: 14px;

    }

    scale {

      trough {

        background-color: $fg-volume;
        border-radius: 50px;
        min-height: 5px;
        min-width: 100px;
        margin: 0 10px 0 10px;

        highlight {

          all: unset;
          background-color: $fg-volume-highlight;
          border-radius: 10px;

        }

      }

    }

  }

  .layout {

    color: $bg;

    button {

      transition: all 200ms linear;

    }

    &:hover > button {

      background-color: rgba($bg, 0.2);
      color: $fg-layout-hover;

    }

  }

  .tag-list {

    padding: 0 .5rem;

    button {

      padding: 0 .666rem;

      transition: all 125ms linear;

      &.chosen-occupied {

        color: $fg;

      }

      &.chosen {

        color: rgba($fg, 0.75);

      }

      &.not-chosen {

        color: rgba($fg, 0.5);
        font-size: 12px;
        padding-top: 1px;

      }

    }

    *:hover {

      button {

        color: $fg;

      }

    }

    .add {

      color: rgba($fg, 0.18);

    }

  }

  .title-handler {

    font-weight: bolder;

    * {

      transition: all 250ms linear;

    }

    .icon {

      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 11px;
      border-bottom: 1px solid transparent;

    }

    .not-selected {

      opacity: 0.44;

    }

    *:hover {

      opacity: 1;
      border-bottom: 1px solid rgba($fg, 0.5);

    }

    .selected {

      opacity: 1;
      border-bottom: 1px solid rgba($fg, 0.5);
      background-color: rgba($fg, 0.75);

    }

  }

}

.top-bar {

  font-size: 13.75px;
  font-weight: bolder;
  //background-color: $bg-color;

  .left-part {

    .logo {

      margin-left: 0.5rem;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 0px center;

    }

    .title {

      font-family: $font;
      margin-left: 1rem;
      padding-top: 1px;
      font-size: 12px;
      font-weight: bolder;
      color: $fg-title;

    }

    .title-name {

      padding-left: 1rem;

      color: $fg-title;
      font-size: 11px;

      &:hover {

        color: rgba($fg, 0.5);

      }


    }

  }

  .camera {

    * > * > * {

      padding: 0 1rem 0 0.5rem;
      color: rgba($fg, 0.5);

      font-family: $font-icon;
      font-size: 12px;

      transition: color 500ms linear;

    }

    *:hover > * > * {

      color: $fg;

    }


  }

  .song-handler {

    font-family: $font;

    .song {

      font-size: 12px;


      .highlight {

        color: $fg-highlight;

      }

      .normal {

        color: $fg;

      }

      .aside {

        color: rgba($fg, 0.5);;
        padding: 0 0.5rem;

        &:hover {

          color: rgba($fg, 0.75);;

        }

      }

    }

  }

}
