[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gcsf
Comment=A google drive account folder for joao.farias..
Exec=gcsf mount /home/koetemagie/JoaoFS -s joaocemi
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

