[Desktop Entry]
Type=Application
Name=Notes
Name[ar]=ملاجظات
Name[ast]=Notes
Name[bg]=Бележки
Name[ca]=Notes
Name[cs]=Poznámky
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[en_AU]=Notes
Name[en_GB]=Notes
Name[es]=Notas
Name[eu]=Oharrak
Name[fi]=Muistiinpanot
Name[fr]=Notes
Name[gl]=Notas 
Name[hr]=Bilješke
Name[hu]=Jegyzetek
Name[id]=Catatan
Name[is]=Minnispunktar
Name[it]=Nota
Name[ja]=Notes
Name[kk]=Жазбалар
Name[ko]=노트
Name[lt]=Pastabos
Name[lv]=Piezīmes
Name[ms]=Nota
Name[nb]=Notater
Name[nl]=Notities
Name[oc]=Nòtas
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sk]=Poznámky
Name[sl]=Zabeležki
Name[sq]=Shënime
Name[sr]=Бележница
Name[sv]=Anteckningar
Name[th]=บันทึกข้อความ
Name[tr]=Notlar
Name[ug]=ئىزاھ
Name[uk]=Записки
Name[ur]=نوٹ
Name[ur_PK]=نوٹ
Name[zh_CN]=便笺
Name[zh_TW]=小筆記
Comment=Ideal for your quick notes
Comment[ar]=مثالي لملاحظاتك السريعة
Comment[ast]=Xenial pa les sos notes rápides
Comment[bg]=Перфектно за Вашите бързи бележки
Comment[ca]=Ideal per notes ràpides
Comment[cs]=Ideální pro rychlé poznámky
Comment[da]=Ideel til dine hurtignoter
Comment[de]=Ideal für kurze Notizen
Comment[el]=Ιδανικό για τις σημειώσεις σας
Comment[en_AU]=Ideal for your quick notes
Comment[en_GB]=Ideal for your quick notes
Comment[es]=Ideal para sus notas rápidas
Comment[eu]=Zure ohar azkarrentzat erabilgarria
Comment[fi]=Kätevä muistiinpanoväline
Comment[fr]=Idéal pour vos petites notes
Comment[gl]=Ideal para notas rápidas
Comment[hr]=Idealno za brze bilješke
Comment[hu]=Ideális gyors jegyzeteléshez
Comment[id]=Ideal untuk catatan cepat anda
Comment[it]=Ideale per le proprie annotazioni
Comment[ja]=ちょっとしたメモに最適な付箋紙プラグインです
Comment[kk]=Жылдам жазбаларыңыз үшін жарайды
Comment[ko]=이상적인 여러분의 간편한 노트
Comment[lt]=Idealu trumpalaikiams užrašams
Comment[lv]=Ideāls ātrām piezīmēm
Comment[ms]=Sesuai sebagai nota pantas anda
Comment[nb]=Ideell for hurtignotater
Comment[nl]=Ideaal voor snelle notities
Comment[oc]=Ideal per vòstras pichonas nòtas
Comment[pl]=Przechowuje szybkie notatki
Comment[pt]=Ideal para as suas notas rápidas
Comment[pt_BR]=Ideal para uma nota rápida
Comment[ro]=Ideal pentru notițe rapide
Comment[ru]=Средство создания текстовых заметок
Comment[sk]=Ideálny pre rýchle poznámky
Comment[sl]=Idealno za vaše hitre zabeležke
Comment[sr]=Идеално за ваше брзе белешке
Comment[sv]=Perfekt för dina snabba anteckningar
Comment[th]=เหมาะสำหรับจดบันทึกอย่างเร็ว
Comment[tr]=Hızlı not almak için idealdir
Comment[ug]=كىچىككىنە ئىزاھ ئۈچۈن بەكمۇ قۇلاي
Comment[uk]=Ідеально для Ваших швидких заміток
Comment[ur]=آپ کے فوری نوٹس کے لیے بہترین ہے
Comment[ur_PK]=آپ کے فوری نوٹس کے لیے بہترین ہے
Comment[vi]=Ý tưởng cho chú thích nhanh của bạn
Comment[zh_CN]=理想的快速便笺
Comment[zh_TW]=快速筆記的好幫手
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
OnlyShowIn=XFCE;GNOME;
Terminal=false
Hidden=true
