// #. Active same as hover.
* {

  --toolbarbutton-active-background: var(--toolbarbutton-hover-background);
  --urlbar-box-active-bgcolor: var(--urlbar-box-hover-bgcolor);
  --panelview-toolbarbutton-active-bgcolor: var(--panelview-toolbarbutton-hover-bgcolor);/*old*/
  --button-active-bgcolor: var(--button-hover-bgcolor);
  --panel-banner-item-active-bgcolor: var(--panel-banner-item-hover-bgcolor);
  --panel-item-active-bgcolor: var(--panel-item-hover-bgcolor);

  --menuitem-disabled-hover-background-color: none;
  --panel-separator-zap-gradient: none;
  --panel-shortcut-color: color-mix(in srgb, var(--arrowpanel-color) 35%, var(--arrowpanel-background));

}

// #. Default theme.
[lwtheme-mozlightdark] * {

  --background:  #121215;
  --color:       #e8e8e9;
  --nav:         color-mix(in srgb, var(--background) 87%, transparent);
  --1:           color-mix(in srgb, var(--color) 4%, transparent);
  --2:           color-mix(in srgb, var(--color) 6%, transparent);
  --3:           color-mix(in srgb, var(--color) 10%, transparent);

  --arrowpanel-background: var(--background);

  --toolbarbutton-icon-fill: var(--color);
  --toolbar-color: var(--color);
  --lwt-toolbar-field-color: var(--color);
  --lwt-toolbar-field-focus-color: var(--color);
  --arrowpanel-color: var(--color);

  --lwt-accent-color: var(--nav);
  --toolbar-bgcolor: var(--nav);
  --lwt-toolbar-field-focus: var(--nav);

  --urlbar-box-bgcolor: var(--1);
  --urlbar-box-focus-bgcolor: var(--1);
  --button-bgcolor: var(--1);
  --panel-banner-item-background-color: var(--1);

  --arrowpanel-border-color: var(--2);
  --panel-separator-color: var(--2);
  --autocomplete-popup-separator-color: var(--2);
  --autocomplete-popup-hover-background: var(--2);
  --input-bgcolor: var(--2);
  --panelview-toolbarbutton-hover-bgcolor: var(--2);/*old*/
  --panel-item-hover-bgcolor: var(--2);
  --button-hover-bgcolor: var(--2);
  --panel-banner-item-hover-bgcolor: var(--2);
  --urlbar-box-hover-bgcolor: var(--2);
  --toolbarbutton-hover-background: var(--2);

  --autocomplete-popup-highlight-background: var(--3);

  --zoom-controls-bgcolor: transparent;

}

[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"]) * {

  --background:  #fcfcfd;
  --color:       #000005;

}


// #. Make borders not bright for third-party themes.
#main-window:not([lwtheme-mozlightdark]) * {

  --menu-border-color: color-mix(in srgb, var(--arrowpanel-background) 40%, var(--panel-item-hover-bgcolor));
  --arrowpanel-border-color: color-mix(in srgb, var(--arrowpanel-background) 40%, var(--panel-item-hover-bgcolor));

}
