.colour {

  &.picker {

    margin: 1rem;

  }

  &.accent {

    background-color: $accent;

  }

  &.color {

    background-color: $color;

  }

  &.background {

    background-color: $background;

  }

}
