[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koetemagie/Área de trabalho/Skeuos-XFWM4-Light-xHiDPI]
row=0
col=3

[/home/koetemagie/Área de trabalho/Skeuos-XFWM4-Light-HiDPI]
row=0
col=2

[/home/koetemagie/Área de trabalho/Skeuos-Yellow-Light]
row=0
col=0

[/home/koetemagie/Área de trabalho/Skeuos-XFWM4-Light]
row=0
col=1

