[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koetemagie/Área de trabalho/80-apostilas-matematica]
row=0
col=0

[/home/koetemagie/Área de trabalho/god.jpg]
row=0
col=1

[/home/koetemagie/Área de trabalho/9zugdbs3te451.png]
row=0
col=2

