	/* Group page */

@media (prefers-color-scheme:dark), (prefers-color-scheme: no-preference) {
	#root[data-style="auto"], #root[data-style="dark"] {

	--bg: #080809 !important
}}

.title {
	font-size: 2rem;
	color: #8888}

.new-tab,
.tab {
	background-color: #80808008;
	box-shadow: none}

.new-tab:hover,
.tab:hover {
	background-color: #8080800e;
	box-shadow: none}


body[data-layout="list"] .bg {
	border-radius: 0;
	box-shadow: none}


body[data-layout="grid"] .bg {opacity: .3}


.tab-title,
.tab-url 
	{text-shadow: none}

#root.root {
  --nav-btn-width: 32px;
  --nav-btn-height: 32px;

  --tabs-pinned-width: 35px;
  --tabs-pinned-height: 35px;
  --tabs-height: 32px;

  --selected-bg: var(--ff-tab-selected);
  --selected-border: #287f94;

  --bookmarks-folder-height: 32px;
  --bookmarks-bookmark-height: 30px;
}

.container, .bookmarks-tree {
  padding-left: 4px;
  padding-right: 4px;
}

/* Thin line beside the tabs to indicate sub-tree level */
.Tab:not([data-lvl="0"]) .dnd-layer {
  border-left: solid 1px var(--ff-tab-selected);
}

/* Visually flatten tree structure when sidebar is collapsed */
@media screen and (max-width: 40px) {
  #root.root {
    --tabs-indent: 0px;
    --bookmarks-indent: 0px;
  }

  .container {
    padding-left: 2px;
    padding-right: 2px;
  }

  /* Hide static buttons to prevent obstructing the panel icons */
  .static-btns {
    visibility: collapse
  }

  /* Forces the active panel icon to be visible */
  .main-items > .nav-item[data-active="true"] {
    opacity: 100 !important;
    transform: initial !important;
  }
}


 
