[Desktop Entry]
Name=Ferdium
Exec=/usr/bin/ferdium --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime %U
Terminal=false
Type=Application
Icon=ferdium
StartupWMClass=Ferdium
Comment=Desktop app bringing all your messaging services into one installable
MimeType=x-scheme-handler/ferdium;
Categories=Network;InstantMessaging;
