[Desktop Entry]
Name=Frame0
Comment=A Balsamiq-alternative wireframming tool for modern apps
GenericName=Frame0
Exec=frame0 --enable-features=WebRTCPipeWireCapturer --enable-features=UseOzonePlatform --ozone-platform-hint=auto --enable-wayland-ime --enable-features=WaylandWindowDecorations --disable-features=WaylandPerSurfaceScale %U
Icon=frame0
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;

