[Desktop Entry]
Name=Vesktop
Exec=vesktop --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
MimeType=x-scheme-handler/discord;
Comment=Vesktop is a custom Discord desktop app
