.lyrics-displayer {

  font-family: $font;

  .horizontal-box {

    .horizontal-box {

      button {

        label {

          padding: 0 0.5rem;
          font-weight: bolder;
          font-family: $font-icon;

        }

        &.hide-button {

          &:hover label {

            color: #FF7A00;
            text-shadow: 0px 0px 7px #FF7A00;

          }

          label {

            color: white;

          }

        }

        &.update-button {

          &:hover label {

            color: #D8BE31;
            text-shadow: 0px 0px 7px #D8BE31;

          }

          label {

            color: white;

          }

        }

      }

    }

    .artist-name {

      font-size: 1.15rem;
      text-shadow: $text-shadow-settings black;

    }

    .time {

      color: white;
      text-shadow: $text-shadow-settings black;

    }

  }

  .scroll-lyrics {

    .lyrics {

      //background-color: blue;

    }

    scrollbar {

      background-color: transparent;
      min-height: 5px;

      //&.fine-tune {}

      trough {

        min-height: 15px;
        margin-bottom: 3px;
        background-color: transparent;

        slider { 

          background-color: rgba(white, 0.1);
          min-height: 15px;
          border-radius: 4px;

        }

      }

    }

  }

}
