@define-color bdlightcolor white;
@define-color bdsongcolor white;
@define-color textcolor transparent;
@define-color bdcolor transparent;
@define-color bdbg transparent;
@define-color txtshadowsong rgba(255,255,255,.8);

/* Terminal Padding */

VteTerminal, vte-terminal {
    padding: 14px;
}

/* Themes */
.xfce4-panel.background.horizontal.panel {
  margin: 0;
  font-weight: bolder;
  box-shadow: -2px 2px 8px 2px @bdlightcolor;
  text-shadow: 0 0 5px @bdlightcolor;
  border-width: 4px 12px 0 12px;
  border-style: solid;
  border-color: transparent;
	background: transparent;
}

.xfce4-panel.background.horizontal.panel > * > * > * {
	background: @bdbg;
	border-left: 4px solid transparent;
	border-radius: 0;
}


.xfce4-panel:not(.horizontal) {
  border: 0;
  background: transparent;
  margin: 0;
  font-weight: bolder;
  text-shadow: 0 0 5px @bdbg;
}

.xfce4-panel.background.panel:not(.horizontal) {
  text-shadow: 0 0 5px @bdlightcolor;
}

/* Show symbol at top left */

#launcher-8 button {
	color: #1E62B4;
  text-shadow: none;
  padding: 0 1rem 0 0.75rem;
}

/* Clock, obviously */

#clock-button button {
	padding: 0 1rem;
  background: @bdbg;
  border-radius: 0;
}

#clock-button:checked,
#clock-button:active,
#clock-button:hover {
  background-color: transparent;
}

/* Notification Plugin */

#xfce4-notification-plugin {
  background-color: transparent;
  

  padding: 0 5px 0 10px;
  margin-left: -8px;
}

#notification-plugin-2 > *{
	border-bottom: 4px solid transparent;
	border-radius: 0;
}

#notification-plugin-2 > * > * {
	padding-left: 4px;
}

/* Blocks pager */

#pager-4 * {
	padding: 0;
	margin: 0;	
}

#pager-4 .toggle.flat {
  background-color: @bdbg;
	background-image: url('/home/koetemagie/.config/gtk-3.0/icons/2.png');
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
	text-shadow: none;
}

#pager-4 .toggle.flat:hover {
	background-image: url('/home/koetemagie/.config/gtk-3.0/icons/3.png');
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
}

#pager-4 .toggle.flat:checked {
  background-color: @bdlightcolor;
  background-image: url('/home/koetemagie/.config/gtk-3.0/icons/1.png');
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
}

#pager-4 > * {
	border-bottom: 4px solid transparent;
	border-left: 12px solid transparent;	
}



/* Preview name Pager */

#pager-6 .toggle > *{
  margin-right: 1.25rem;
}

#pager-6 .toggle:checked {
	background: transparent;
  margin-right: -20px;
}

#pager-6 .toggle:not(:checked) { opacity: 0; } 
#pager-6 .toggle:checked:nth-child(1) { margin-bottom: -25px; }
#pager-6 .toggle:checked:nth-child(2) { margin-bottom: -17px; }
#pager-6 .toggle:checked:nth-child(3) { margin-bottom: -9px; }
#pager-6 .toggle:checked:nth-child(4) { margin-bottom: -2px; }
#pager-6 .toggle:checked:nth-child(5) { margin-top: -4px; }
#pager-6 .toggle:checked:nth-child(6) { margin-top: -10px; }
#pager-6 .toggle:checked:nth-child(7) { margin-top: -15px; margin-left: 12px; margin-right: 1px; }
#pager-6 .toggle:checked:nth-child(8) { margin-top: -21px; }
#pager-6 .toggle:checked:nth-child(9) { margin-top: -27px; }


/* Windows of panel */

#tasklist-1 .tasklist .toggle {
	border-bottom: 4px solid transparent;
}

.tasklist .toggle:checked *,
.tasklist .toggle:active {
  color: @textcolor;
  background-color: @bdlightcolor;
}

.tasklist .toggle.group-button {
  color: @bdbg;
}


/* CPU usage */



#genmon-10 * > * > * {
	color: black;
  background: @bdlightcolor;
  padding: 0 0.6rem;
  box-shadow: 0 0 5px 1px @bdlightcolor;
  text-shadow: 0 0 5px @txtshadowsong;
}



/* Song Preview */

#genmon-7 * {
	background: transparent;
	color: @bdsongcolor;
  text-shadow: 0px 0px 5px @txtshadowsong;
  margin-left: 0.75rem;
}

/* Internet */

#netload-12 * {
  background: transparent;
  text-shadow: none;
}

/* Clock left top */
#clock-9 > * {
  padding: 0 1rem;
}





/* Etc... */

#launcher-8 > *,
#clock-9 > *,
#windowmenu-47 > *,
#launcher-26 > *, #launcher-27 > *,  #launcher-21 > *,  #launcher-25 > *,  #launcher-22 > *,  #launcher-24 > * {
  border-top: 2px solid @bdcolor;
}

#launcher-5 *:hover,
#launcher-5 *:active,
#applicationsmenu-13 *:hover,
#applicationsmenu-13 *:checked {
  background-color: transparent;
}

#genmon-10 .genmon_imagebox,
#tasklist-1 .toggle:checked, 
#notification-plugin-2 > *:hover,
#notification-plugin-2 > *:checked {
	background-color: @bdcolor;
}

#pager-4 .toggle.flat,
#notification-plugin-2 > *,
#tasklist-1 .toggle {
	background-color: @bdbg;
	
}
