[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koetemagie/Área de trabalho/1565518593497.png]
row=4
col=0

[1804D61404D5F52A]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/koetemagie]
row=3
col=0

