[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1A96B90596B8E305]
row=0
col=2

[SAMSUNG Android]
row=0
col=5

[Floppy Disk]
row=0
col=4

[C0FCF5BAFCF5AAB4]
row=0
col=3

[Trash]
row=0
col=0

[/home/koetemagie]
row=0
col=1

