[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koetemagie/Área de trabalho/W7x32 LITE.iso]
row=0
col=1

[/home/koetemagie/Área de trabalho/23077 XL Project - Necro Fantasia]
row=0
col=0

