@use "./tokens";

popover.calendar {

	>arrow,
	>contents {
		border-width: 2px;
		border-style: solid;
		border-color: tokens.color-var("calendar-border-color");
	}

	>arrow {
		background-color: tokens.color-var("bg-color");
	}

	>contents {

		background-color: tokens.color-var("bg-color");

		>box {
			>separator {
				background-color: tokens.color-var("overlay-darker");
				min-height: 2px;
			}

			>.navigation {
				padding: 0;

				>.section {
					padding: 0;

					>label {
						padding: 0;
						font-size: 1rem;
						font-weight: 400;
						font-family: 'Noto Sans CJK JP';
					}

					>button {
						padding: 0.65rem 0.8rem;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
						}

						>label {
							padding: 0;
							font-size: 0.5rem;
						}
					}
				}
			}

			.days {
				font-family: 'Noto Sans CJK JP';

				>.row {
					padding: 0;

					label {
						padding: 0.25rem 0;
						margin: 0;
						border-radius: 0.2rem;
						font-weight: 500;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
							color: tokens.color-var("fg-color");
						}

						&.inactive {
							color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.3);
						}

						&.today {
							background-color: tokens.color-var("calendar-highlight-color");
							color: tokens.color-var("bg-color");

							&.inactive {
								background-color: tokens.gtkalpha(tokens.color-var("calendar-highlight-color"), 0.25);
								color: tokens.color-var("bg-color");
							}
						}
					}

					&.header {
						label {
							&:hover {
								background-color: transparent;
								color: tokens.color-var("button-accent-color");
							}
						}
					}
				}
			}
		}
	}
}