@use "./tokens";

@mixin notification-card {
	.notification {
		border-radius: tokens.$radius-large;
		background-color: tokens.color-var("bg-color");
		margin: tokens.$spacing-medium tokens.$spacing-large;
		box-shadow: 2px 3px 8px 0 tokens.gtkalpha(black, 0.4);
		border: 1pt solid tokens.gtkalpha(tokens.color-var("fg-color"), 0.03);

		&.critical {
			border: 1pt solid tokens.gtkalpha(tokens.color-var("error-color"), 0.4);

			.header {
				.app-name {
					color: tokens.gtkalpha(tokens.color-var("error-color"), 0.8);
				}

				.app-icon {
					color: tokens.gtkalpha(tokens.color-var("error-color"), 0.6);
				}
			}
		}

		.header {
			padding: tokens.$spacing-medium;
			color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.5);

			.app-icon {
				margin: 0 0.4rem;
			}

			.app-name {
				margin-right: tokens.$spacing-small;
				font-weight: bold;

				&:first-child {
					margin-left: 0.4rem;
				}
			}

			.time {
				margin: 0 0.4rem;
			}

			button {
				padding: 0.2rem;
				min-width: 0;
				min-height: 0;
			}
		}

		separator {
			margin: 0 0.4rem;
			background-color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.1);
		}

		.content {
			margin: tokens.$spacing-large;
			margin-top: tokens.$spacing-medium;

			.summary {
				font-size: 1.2em;
				color: tokens.color-var("fg-color");
			}

			.body {
				color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.8);
			}

			.image {
				border: 1px solid tokens.gtkalpha(tokens.color-var("fg-color"), 0.02);
				margin-right: tokens.$spacing-medium;
				border-radius: 9px;
				min-width: 100px;
				min-height: 100px;
				background-size: cover;
				background-position: center;
			}
		}

		.actions {
			margin: tokens.$spacing-large;
			margin-top: 0;

			button {
				margin: 0 tokens.$spacing-small;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

window.notifications {
	all: unset;
	@include notification-card;
}

window.menu-history-window {
	all: unset;
	padding: tokens.$spacing-large;
	background-color: tokens.gtkalpha(tokens.color-var("bg-color"), 0.96);
	border-radius: tokens.$radius-large;
	box-shadow: 0 16px 48px tokens.gtkalpha(tokens.color-var("fg-color"), 0.25);

	.menu-history-scroll {
		border-radius: tokens.$radius-large;
		background-color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.02);
		padding: tokens.$spacing-small;
	}

	.menu-history-list {
		padding: tokens.$spacing-small;
		// gap: tokens.$spacing-small;
	}

	@include notification-card;

	.notification {
		margin: 0;
	}
}