alias mdemonde='youtube-dl -o "~/Música/Libraria/%(title)s.%(ext)s" --download-archive ~/Programas/github_old/youtube-dl/a.txt --add-metadata --metadata-from-title "(?P<artist>.+?) - (?P<title>.+)" --playlist-end 100 -x -i -x -f bestaudio "https://www.youtube.com/playlist?list=PLZx2EchsfnlgoXkZtHaNrAta_hIl4wkXA"'
alias si='f() { xdg-open https://www.google.com/search?tbm=isch\&tbs=imgo:1,isz:l,iar:s\&q=Album\%20$( echo "$@" | sed "s/ /\%20/g"); unset -f f; }; f'
alias nd="cd ~/Programas/github_old/todoncli/ && node todoncli.js"
alias rq="node ~/Programas/github_new/quotixterminal/loadquote.js"
alias sublime='/home/koetemagie/dotfiles1/Apps/sublime-text/sublime_text "$1"'
alias save-session='dbus-send --session --dest=org.xfce.SessionManager --print-reply /org/xfce/SessionManager org.xfce.Session.Manager.Checkpoint string:""'
alias firefox='MOZ_GTK_TITLEBAR_DECORATION=client firefox'
alias editquote="sublime ~/Programas/github_new/quotixterminal/quotes.json"
alias addquote='cd ~/Programas/github_new/quotixterminal/ && node ~/Programas/github_new/quotixterminal/addquote.js "$1"'
alias vim='nvim'
