
@define-color selected_bg_color rgba(255, 255, 255, 0.75);
@define-color selected_fg_color white;

/* Panel itself */
@define-color selected_bgpanel_color transparent;

/* Items of panel */
@define-color selected_item_color white;
@define-color not_selected_item_color white;


@define-color background_item_color transparent;
@define-color border_item_color rgba(255, 255, 255, 0.25);







.xfce4-panel.background.horizontal.panel {
  border: 0;
  background: linear-gradient(60deg, rgba(24,7,28, 0.8), rgba(31,10,37,0.8), rgba(36,36,47,0.8));
  /*background: rgba(255,255,255,0.175);*/
  margin: 0;
  font-weight: bolder;
  border-bottom: 1px solid rgba(255,255,255,0.125);
  box-shadow: -2px 2px 8px 2px black;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.85);
}

#launcher-8 button {
	color: white;
	margin-left: 1.5rem;
}




/* Windows of panel */

@define-color bg_window transparent;

.tasklist .toggle {
  background: #473E65;
  border: 4px solid #1F0726;
  border-radius: 30%;
}

.tasklist .toggle:hover {
 border: 4px solid  #1F0726;

}

.tasklist .toggle:checked,
.tasklist .toggle:active {
  border: 4px solid  #1F0726;
  background: transparent;
  color: white;

}





/* Buttons of panel */

.xfce4-panel button {
  color: @not_selected_item_color;
}

.xfce4-panel button:active,
.xfce4-panel button:checked,
.xfce4-panel button:hover {
  color: @selected_item_color;
}













/* Clock, duh */
#clock-button {
  color: white;

  background-color: transparent;

  padding: 0 14px 0 12px;
  border-radius: 8px 0 0 8px;
  
  margin-right: -8px;

}

#clock-button:checked,
#clock-button:active,
#clock-button:hover {
  background-color:  transparent;
}


#xfce4-notification-plugin {
  background-color: transparent;
  color: white;

  padding: 0 5px 0 10px;
  margin-left: -8px;
  border-radius: 8px 0 0 8px;
}

#xfce4-power-manager-plugin {
    background-color:  transparent;

  color: white;
}






/* Workspaces in panel*/






#pager-6 button {
  color: white;

  padding: 0 6px;

  opacity: 0.75;

  margin-top: -2px
}

#pager-6 button:nth-child(1) {

  padding: 0 10px 0 6px;
  border-radius: 0 16px 16px 0;
}

#pager-6 button:nth-child(even) {

  padding: 0 8px 0 10px;
  border-radius: 0 16px 16px 0;

  margin-left: -8px;
}

#pager-6 button:nth-child(odd) {

  padding: 0 8px 0 6px;
  border-radius: 0 16px 16px 0;
  margin-left: -8px;
}

#pager-6 button:hover,
#pager-6 button:active,
#pager-6 button:checked {
  color: @selected_item_color;
  background: transparent;
  opacity: 1;
}















/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

#launcher-8 button {
	color: white;
	margin-left: 1.5rem;
	padding: 0;
}

#clock-9 button {
	padding-right: 40px;
}


#pager-6 button:not(:checked) {
	padding: 0;
	opacity: 0;
}


#pager-6 button:nth-child(7):checked {
	margin-left: -455px;
}


#pager-6 button:nth-child(6):checked {
	margin-left: -355px;
}


#pager-6 button:nth-child(5):checked {
	margin-right: -45px;
}


#pager-6 button:nth-child(4):checked {
	margin-left: -145px;
}

#pager-6 button:nth-child(3):checked {
	margin-left: -30px;
}


#pager-6 button:nth-child(2):checked {
	margin-right: -80px;
}


#pager-6 button:nth-child(1):checked {
	margin-right: -190px;
}



/* Pulse audio */




#pulseaudio-button {
  background-color:  transparent;
  color: @items_color_right;

  padding: 0 4px 0 4px;
  margin-right: -2px;
}

#pulseaudio-button:checked {

}

#pulseaudio-button:active,
#pulseaudio-button:hover {

}





#xfce4-sensors-plugin button {
      background-color:  transparent;
}

#xfce4-clipman-plugin-1 button {
      background-color:  transparent;
  color: @items_color_right;

  padding: 0 2px 0 8px;
  border-radius: 16px 0 0 16px;
}

#xfce4-clipman-plugin-1 button:checked,
#xfce4-clipman-plugin-1 button:hover,
#xfce4-clipman-plugin-1 button:active {
 
}





#directorymenu-24 *,
#xfce4-clipman-plugin-1 button {
  color: @selected_bg_color;
}







VteTerminal, vte-terminal {
    padding: 14px;
}
#pulseaudio-button * {-gtk-icon-transform: scale(1);}
#xfce4-notification-plugin * {-gtk-icon-transform: scale(1);}
#xfce4-power-manager-plugin * {-gtk-icon-transform: scale(1);}




/* Windows of panel */

@define-color bg_window transparent;

.tasklist .toggle {
  background: radial-gradient(circle at center, rgba(255,255,255,0.125) 65%, transparent 10%);
  border-color: transparent;
}


.tasklist .toggle:checked,
.tasklist .toggle:active {
  background: radial-gradient(circle at center, rgba(255,255,255,0.125) 65%, transparent 10%);
  color: white;
}

.tasklist .toggle.group-button {
  color: #18071C;
}

.tasklist .toggle.group-button * {
 
}



/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

.xfce4-panel:not(.horizontal) {
  border: 0;
  /*background: linear-gradient(60deg, rgba(24,7,28,0.5), rgba(31,10,37,0.5), rgba(36,36,47,0.5));*/
  background: rgba(0,0,0,0.25);
  margin: 0;
  font-weight: bolder;
  border-top: 1px solid rgba(255,255,255,0.125);
  text-shadow: -2px 2px 2px rgba(0,0,0,0.85);
}




#launcher-8 button {
	color: white;
	margin-left: 1.5rem;
	padding: 0;
}

#pager-6 button {
	transition: all 0s linear;
}

#pager-6 button:not(:checked) {
	padding: 0;
	opacity: 0;
}


#pager-6 button:nth-child(7):checked {
	margin-left: -425px;
}


#pager-6 button:nth-child(6):checked {
	margin-left: -320px;
}


#pager-6 button:nth-child(5):checked {
	margin-left: -225px;
}


#pager-6 button:nth-child(4):checked {
	margin-left: -110px;
}

#pager-6 button:nth-child(3):checked {
	margin-left: 0px;
}


#pager-6 button:nth-child(2):checked {
	margin-right: -115px;
}


#pager-6 button:nth-child(1):checked {
	margin-right: -220px;
}


