@use "colors" as *;
@use "presets" as *;

tooltip {
  background-color: var(--base00);
  label {
    color: var(--base05);
  }
  border-color: var(--base07);
  box-shadow: none;
}

window.Applauncher {
  box {
    background-color: var(--base00);
    border-radius: $radius;
    padding: 0.4rem;
  }

  entry {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 1rem;
    font-weight: bold;
    color: var(--base05);

    background-color: var(--base01);
    border: solid 0.1rem var(--base04);
    border-radius: $radius;

    margin-bottom: 0.4rem;

    outline-color: var(--base07);
  }

  scrollbar {
    // Remove scrollbar
    &.overlay-indicator {
      opacity: 0;
    }
  }

  // Pixel perfect
  scrolledwindow {
    // 56 + 2 = 58
    min-height: 58px;
    * {
      border: none;
    }
  }

  flowboxchild.appbutton {
    outline: none;
    border-radius: $radius;
    image {
      // Size 56x56
      //font-size: 50px;
      -gtk-icon-size: 50px;
    }
    &:selected {
      background-color: var(--base02);
    }
  }
}
