@use "colors" as *;
@use "presets" as *;

@keyframes icon-wiggle {
  0% {
    -gtk-icon-transform: rotate(15deg);
  }
  25% {
    -gtk-icon-transform: rotate(-15deg);
  }
  50% {
    -gtk-icon-transform: rotate(25deg);
  }
  75% {
    -gtk-icon-transform: rotate(-10deg);
  }
  100% {
    -gtk-icon-transform: rotate(0deg);
  }
}

window.Dashboard {
  box.container {
    padding: 0.6rem;
    border-radius: $radius;
    background-color: var(--base01);
  }

  box.cava {
    padding: 1.2rem 0.6rem 1.2rem 1.2rem;
    border-radius: $radius;
    //min-width: 50px;
    background-color: var(--base01);
  }

  button {
    &.toggle,
    &.notif,
    &.drop,
    &.wifiButton,
    &.bluetoothButton {
      min-width: 50px;
      border-radius: $radius;
      background-color: var(--base01);
      outline: none;
      image {
        transition: all 0.5s;
        -gtk-icon-size: 1.4rem;
      }
      &:hover,
      &:focus {
        transition: all 0.5s;
        background-color: var(--base02);
      }
    }
    &.drop {
      color: var(--base09);
    }
    &.wifiButton {
      color: var(--base0C);
    }
    &.bluetoothButton {
      color: var(--base0D);
    }
    &.notif {
      color: var(--base0A);
    }
    &.bell {
      image {
        animation: icon-wiggle-active 1s ease-in-out;
      }
    }

    &.toggle {
      &:checked {
        image {
          transition: all 0.5s;
          -gtk-icon-transform: rotate(90deg);
        }
      }
    }
  }

  scrolledwindow {
    &.wifiList,
    &.bluetoothList {
      scrollbar {
        // Remove scrollbar
        &.overlay-indicator {
          opacity: 0;
        }
      }
      padding: 0.6rem;
      border-radius: $radius;
      background-color: var(--base01);
      * {
        border: none;
      }
      button {
        padding: 0;
        outline: none;
        border-radius: $radius;
        image {
          //font-size: 1.2rem;
          -gtk-icon-size: 1.2rem;
        }
        box {
          padding: 0.2rem;
          border-radius: $radius;
          box {
            padding: 0.6rem;
          }
          &:hover {
            color: unset;
            transition: all 0.5s;
            background-color: var(--base02);
          }
        }
        // connected button text color
        &.connected {
          color: var(--base0A);
        }
      }
    }
    &.wifiList {
      button {
        color: var(--base0C);
      }
    }
    &.bluetoothList {
      button {
        color: var(--base0D);
      }
    }
  }

  box {
    &.brightness_slider,
    &.volume_slider {
      image {
        -gtk-icon-size: 1.3rem;
      }
      scale {
        min-height: 120px;
        padding: 0.6rem;
        margin: 0.6rem;
        border-radius: $radius;
        trough {
          outline: none;
          min-width: 8px;
          slider {
            all: unset;
          }
        }
        &:hover,
        &:focus {
          transition: all 0.5s;
          background-color: var(--base02);
        }
      }
    }
    &.brightness_slider {
      color: var(--base09);
      highlight {
        background-color: var(--base09);
      }
    }
    &.volume_slider {
      color: var(--base0B);
      highlight {
        background-color: var(--base0B);
      }
    }
  }
}
