#bar-0 {
	background-color: black;

	padding: 0 0.5rem;
	color: white;

	.container {

		.window {
			.class {

				// The name itself of the class.
				.name {

					font-weight: bolder;

				}

				// The icon.
				.icon {
					padding: 0 0.5rem;
					color: white;
				}

			}

			.title {
				opacity: 0.5;
			}
		}

		.right {

          button {
            border: none;
            background-image: none;
          }

          .screenshot {

            color: rgb(63.5, 63.5, 63.5);

            &.hover {
              color: rgb(127, 127, 127);
            }
          }

          .network-button {
            border: none;
            border-radius: 0;

            .network {
              color: white;
            }
          }

			.battery {

              &.charging {
                .label {
                }
              }

              .label {
                font-weight: bolder;
                padding: 0 0.7rem;
              }
			}

			.workspaces-event-box {

				.workspaces {

					.workspace {

						box-shadow: none;
						text-shadow: none;

						background: transparent;
						border: none;

						label {
							font-weight: bolder;
						}

                        .symbol {
                          opacity: 0.25;

                          color: white;

                          // For special workspaces' labels that are dynamically set.
                          // &.magic {
                          //   color: red;
                          // }

                          // For special workspaces' that are set through the `data.toml`.
                          &.icon {
                              &.love-heart {
                                color: #EC8282;
                              }
                          }
                        }

						&.occupied {
							label {
								opacity: 0.5;
							}

                            .icon.symbol {
                              opacity: 1;
                            }
						}

						&.active {
							.symbol {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.label-date {
		font-size: 1.25rem;
		font-weight: bold;
	}
}


/*
 * Wifi window
 */
.wifi {
  background-color: red;
}

/*
 * screencorners
 */
.widget-corner {
  background-color: transparent;
}

.corner-black {
    background-color: black;
    border-radius: 1.705rem;
}
