/*
 * bar
 */

#bar-0 {
	background-color: rgba(0, 0, 0, 1);
	padding: 0 0.5rem;
    color: white;

	.label-date {
		font-size: 1.25rem;
		font-weight: bold;
	}

    .battery {
      font-weight: bolder;
    }
}

/*
 * screencorners
 */
.widget-corner {
	background-color: transparent;
}

.corner-black {
	background-color: black;
	border-radius: 1.705rem;
}
