#bar-0 {
	background-color: black;

	padding: 0 0.5rem;
	color: white;

	.container {

		.window {
			.class {

				// The name itself of the class.
				.name {

					font-weight: bolder;

				}

				// The icon.
				.icon {
					padding: 0 0.5rem;
					color: white;
				}

			}

			.title {
				opacity: 0.5;
			}
		}

		.right {

			.battery {
				font-weight: bolder;
				padding: 0 0.7rem;

				&.charging {
					font-style: italic;
				}
			}

			.workspaces-event-box {

				.workspaces {

					.workspace {

						box-shadow: none;
						text-shadow: none;
						background: transparent;
						border: none;

						label {
							font-weight: bolder;
							opacity: 0.25;
                            color: white;
						}

						&.occupied {
							label {
								opacity: 0.5;
							}
						}

						&.active {
							label {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.label-date {
		font-size: 1.25rem;
		font-weight: bold;
	}
}

/*
 * screencorners
 */
	.widget-corner {
		background-color: transparent;
	}

	.corner-black {
		background-color: black;
		border-radius: 1.705rem;
	}
