@use "colors" as *;
@use "presets" as *;

.dialog {
  .titlebar {
    min-height: 0;
  }
  box {
    padding: 0.2rem;
  }
  > box {
    padding: 0.6rem;
  }
  border-radius: $radius;
  .dialog-action-area {
    button {
      border-radius: $radius;
      padding: 0.4rem;
      margin: 0.2rem;
    }
  }
}

.PowerActions {
  box {
    background-color: var(--base00);
    padding: 0.6rem;
    border-radius: $radius;
    button {
      border-radius: $radius;
      padding: 0.6rem;
      image {
        -gtk-icon-size: 2rem;
      }
      &:hover,
      &:focus {
        background-color: var(--base02);
      }
      &.power {
        color: var(--base08);
      }
      &.reboot {
        color: var(--base0C);
      }
      &.lock {
        color: var(--base07);
      }
      &.swap {
        color: var(--base0A);
        image {
          transition: all 1s;
          -gtk-icon-transform: rotate(0deg);
        }
        &.active {
          image {
            transition: all 1s;
            -gtk-icon-transform: rotate(180deg);
          }
        }
      }
    }
  }
}
