$radius: 10px;

// Removes box-shadow from menu widget
* {
  box-shadow: none;
}

label {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 1rem;
  font-weight: bold;
}

button {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  text-shadow: none;
  outline: none;
}

image {
  -gtk-icon-size: 1rem;
}

@keyframes icon-fade-in {
  0% {
    opacity: 0;
    -gtk-icon-transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    -gtk-icon-transform: translateY(0);
  }
}

@keyframes icon-bounce {
  70% {
    -gtk-icon-transform: translateY(0);
  }
  80% {
    -gtk-icon-transform: translateY(-8px);
  }
  90% {
    -gtk-icon-transform: translateY(0);
  }
  95% {
    -gtk-icon-transform: translateY(-5px);
  }
  97% {
    -gtk-icon-transform: translateY(0);
  }
  99% {
    -gtk-icon-transform: translateY(-2px);
  }
  100% {
    -gtk-icon-transform: translateY(0);
  }
}

@keyframes icon-spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
