
@define-color selected_bg_color rgba(255, 255, 255, 0.75);
@define-color selected_fg_color white;

/* Panel itself */
@define-color selected_bgpanel_color transparent;

/* Items of panel */
@define-color selected_item_color white;
@define-color not_selected_item_color white;


@define-color background_item_color transparent;
@define-color border_item_color rgba(255, 255, 255, 0.25);







.xfce4-panel.background.horizontal.panel {
  border: 0;
  /*background: linear-gradient(45deg, rgba(94,81,139,0.5), rgba(211,143,93,0.5), rgba(220,227,237,0.5), rgba(1,176,199,0.5), rgba(66,66,128,0.5));*/
  background: rgba(255,255,255,0.175);
  margin: 0;
  font-weight: bolder;
  box-shadow: -2px 2px 8px 2px black;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.85);
}

.xfce4-panel:not(.horizontal) {
  
}






/* Windows of panel */

@define-color bg_window transparent;

.tasklist .toggle {
  background: #473E65;
  border: 4px solid #1F0726;
  border-radius: 30%;
}

.tasklist .toggle:hover {
 border: 4px solid  #1F0726;

}

.tasklist .toggle:checked,
.tasklist .toggle:active {
  border: 4px solid  #1F0726;
  background: transparent;
  color: white;

}





/* Buttons of panel */

.xfce4-panel button {
  color: @not_selected_item_color;
}

.xfce4-panel button:active,
.xfce4-panel button:checked,
.xfce4-panel button:hover {
  color: @selected_item_color;
}













/* Clock, duh */
#clock-button {
  color: white;

  background-color: transparent;

  padding: 0 14px 0 12px;
  border-radius: 8px 0 0 8px;
  
  margin-right: -8px;

}

#clock-button:checked,
#clock-button:active,
#clock-button:hover {
  background-color:  transparent;
}


#xfce4-notification-plugin {
  background-color: transparent;
  color: white;

  padding: 0 5px 0 10px;
  margin-left: -8px;
  border-radius: 8px 0 0 8px;
}

#xfce4-power-manager-plugin {
    background-color:  transparent;

  color: white;
}






/* Workspaces in panel*/






#pager-6 button {
  color: white;

  padding: 0 6px;

  opacity: 0.75;
}

#pager-6 button:nth-child(1) {

  padding: 0 10px 0 6px;
  border-radius: 0 16px 16px 0;
}

#pager-6 button:nth-child(even) {

  padding: 0 8px 0 10px;
  border-radius: 0 16px 16px 0;

  margin-left: -8px;
}

#pager-6 button:nth-child(odd) {

  padding: 0 8px 0 6px;
  border-radius: 0 16px 16px 0;
  margin-left: -8px;
}

#pager-6 button:hover,
#pager-6 button:active,
#pager-6 button:checked {
  color: @selected_item_color;
  background: transparent;
  opacity: 1;
}












/* Pulse audio */




#pulseaudio-button {
  background-color:  transparent;
  color: @items_color_right;

  padding: 0 4px 0 4px;
  margin-right: -2px;
}

#pulseaudio-button:checked {

}

#pulseaudio-button:active,
#pulseaudio-button:hover {

}





#xfce4-sensors-plugin button {
      background-color:  transparent;
}

#xfce4-clipman-plugin-1 button {
      background-color:  transparent;
  color: @items_color_right;

  padding: 0 2px 0 8px;
  border-radius: 16px 0 0 16px;
}

#xfce4-clipman-plugin-1 button:checked,
#xfce4-clipman-plugin-1 button:hover,
#xfce4-clipman-plugin-1 button:active {
 
}





#directorymenu-24 *,
#xfce4-clipman-plugin-1 button {
  color: @selected_bg_color;
}







VteTerminal, vte-terminal {
    padding: 14px;
}
#pulseaudio-button * {-gtk-icon-transform: scale(1);}
#xfce4-notification-plugin * {-gtk-icon-transform: scale(1);}
#xfce4-power-manager-plugin * {-gtk-icon-transform: scale(1);}
