[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Gtx-Indicator
Name[fr_FR.UTF-8]=gtx-indicator.desktop
Comment=Status icons for Geox-tweak. Toggle Dark-mode and show date/info conky
Exec=gtx-indicator
OnlyShowIn=XFCE;
Terminal=false
Hidden=true

