[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=NumLock on Start
Comment=Ativar o numlock no boot para usar números do teclado.
Exec=numlockx on
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

