[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XFCE-Panel Workaround
Comment=
Exec=/etc/skel/.config/autostart/xfce-pbw.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

