@use "colors" as *;
@use "presets" as *;

@keyframes icon-wiggle-active {
  0% {
    -gtk-icon-transform: rotate(15deg);
  }
  25% {
    -gtk-icon-transform: rotate(-15deg);
  }
  50% {
    -gtk-icon-transform: rotate(25deg);
  }
  75% {
    -gtk-icon-transform: rotate(-10deg);
  }
  100% {
    -gtk-icon-transform: rotate(0deg);
  }
}

@keyframes icon-wiggle-occupied {
  0% {
    -gtk-icon-transform: rotate(15deg);
  }
  25% {
    -gtk-icon-transform: rotate(-15deg);
  }
  50% {
    -gtk-icon-transform: rotate(25deg);
  }
  75% {
    -gtk-icon-transform: rotate(-10deg);
  }
  100% {
    -gtk-icon-transform: rotate(0deg);
  }
}

window.bar {
  --base00: #24273a;
  --base01: #1e2030;
  --base02: #363a4f;
  --base03: #494d64;
  --base04: #5b6078;
  --base05: #cad3f5;
  --base06: #f4dbd6;
  --base07: #b7bdf8;
  --base08: #ed8796;
  --base09: #f5a97f;
  --base0A: #eed49f;
  --base0B: #a6da95;
  --base0C: #8bd5ca;
  --base0D: #8aadf4;
  --base0E: #c6a0f6;
  --base0F: #f0c6c6;

  background-color: black;

  centerbox.container {
    padding: 0.2rem 0.6rem 0.2rem;
    background-color: var(--base01);
  }

  image.logo {
    //font-size: 1.4rem;
    padding-top: 1px;
    -gtk-icon-size: 1.3rem;
    color: var(--base0D);
  }

  box.workspaces {
    button.workspace {
      transition: all 1s;
      color: var(--base02);
      -gtk-icon-size: 1rem;
      &.occupied {
        image {
          animation: icon-wiggle-occupied 1s ease-in-out;
          transition: all 1s;
          color: var(--base07);
          -gtk-icon-size: 1rem;
        }
      }
      &.active {
        image {
          animation: icon-wiggle-active 1s ease-in-out;
          transition: all 1s;
          color: var(--base0A);
          -gtk-icon-size: 1.1rem;
        }
      }
    }
  }

  box.clock {
    label {
      color: var(--base07);
    }
    contents {
      background-color: var(--base01);
      calendar {
        label:selected {
          background-color: var(--base02);
        }
      }
    }
  }

  box.network {
    color: var(--base0C);
  }

  box.notify {
    image {
      color: var(--base0A);
    }
  }

  box.bell {
    image {
      animation: icon-wiggle-active 1s ease-in-out;
    }
  }

  box.bluetooth {
    button {
      color: var(--base0D);
    }
  }

  box.volume {
    color: var(--base0B);
  }

  box.brightness {
    color: var(--base09);
  }

  box.battery {
    color: var(--base0A);
  }

  box.systray {
    * {
      -gtk-icon-size: 1.2rem;
    }
  }

  separator {
    color: var(--base05);
    border-radius: $radius;
    min-width: 2px;
  }

  .power {
    color: var(--base07);
    image {
      -gtk-icon-size: 1.2rem;
    }
  }
}
