@use "colors" as *;
@use "presets" as *;

window.PlayerDashboard {
  label.placeHolder {
    padding: 0.6rem;
    border-radius: $radius;
    color: var(--base05);
    background-color: var(--base01);
  }

  box.MediaPlayer {
    border-radius: $radius;
    padding: 0.6rem;
    background-color: var(--base01);

    // Removes outline for all the inner elements
    * {
      outline: none;
    }

    // Labels color
    label {
      color: var(--base05);
    }

    box.cover-art {
      min-width: 120px;
      min-height: 120px;
      border-radius: $radius;
      margin-right: 0.6rem;
      background-size: contain;
      background-position: center;
    }

    box.title {
      label {
        font-weight: bold;
        font-size: 1.1rem;
      }
      icon {
        font-size: 1.2rem;
      }
    }

    scale {
      border-radius: $radius;
      padding: 0.2rem;
      margin: 0.2rem 0;

      trough {
        min-height: 8px;
      }

      highlight {
        background-color: var(--base05);
      }

      slider {
        all: unset;
      }
      &:hover,
      &:focus {
        background-color: var(--base02);
      }
    }

    .actions {
      min-width: 220px;

      button {
        image {
          font-size: 1.2rem;
          -gtk-icon-size: 1.2rem;
        }
        min-width: 0;
        min-height: 0;
        padding: 0.4rem;
        margin: 0 0.2rem;
        &:hover,
        &:focus {
          background-color: var(--base02);
        }
      }
    }
  }
}
