.bar {
	background-color: black;

	>.center.box {

		>.left {

			>.logo {
				// background-color: green;
				-gtk-icon-size: 1.5rem;
				color: white;
			}

			>.title {
				// background-color: red;
				opacity: 0.5;
				font-weight: bold;
			}
		}

		>.center {

			>.clock {

				>.toggle {
					outline: none;
					min-height: 0;
					min-width: 0;

					// arrow { 
					// 	background-color: red;
					// 	color: red;
					// }

					>.horizontal {
						// background-color: blue;

						>contents {
							// background-color: yellow;

							>label {
								font-weight: bold;
								color: white;
								font-size: 1rem;
							}
						}
					}
				}

				// calendar {
				// 	background-color: black;
				// 	color: white;
				// }
			}
		}

	}
}

// .corner {
//     background-color: red;
// }