// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.bar {
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	>centerbox {
		background: $bg-color;
	}

	button {
		border-radius: 8px;
		margin: 2px;
	}

	.workspaces {
	
		.workspace {
	
			&.empty {
				color: #A0A0A0;
			}
	
			&.focus {
				color: #497F9E;	
			}

			&:hover {
				color: #FC7688;
			}
	
		}
	
	
	}

	.menu {
		.battery, .icon {
			&:hover {
				color: #F0A6C8;
			}
		}
	}
}