@use "sass:string";
@use "sass:color";

@function gtkalpha($c, $a) {
	@return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};
$bg-color: #ffffff;
$error-color: red;

// Layout metrics
$radius-small: 8px;
$radius-medium: 12px;
$radius-large: 13px;

$spacing-xsmall: 0.2rem;
$spacing-small: 0.3rem;
$spacing-medium: 0.5rem;
$spacing-large: 1rem;

$button-hover-color: #FC7688;
$button-accent-color: #F0A6C8;
$workspace-empty-color: #A0A0A0;
$workspace-focus-color: #497F9E;
$workspace-hover-color: $button-hover-color;
$calendar-hover-color: $button-accent-color;
$calendar-border-color: $workspace-focus-color;

* {
	all: unset;
}

window#launcher {
	background: transparent;
	color: $fg-color;

	box#launcher-content {
		background: $bg-color;
		min-width: 400px;
		border-radius: $radius-medium;
		padding: $spacing-small * 2;
	}
}

window.bar {
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	>centerbox {
		background: $bg-color;
	}

	button {
		border: none;
		outline: none;
		background: none;
		color: inherit;
		border-radius: $radius-small;
		margin: 2px;
		color: $fg-color;

		&:checked {
			color: $button-hover-color;
		}

		&:focus {
			outline: none;
		}
	}

	.workspaces {

		.workspace {

			&.empty {
				color: $workspace-empty-color;
			}

			&.focus {
				color: $workspace-focus-color;
			}

			&:hover {
				color: $workspace-hover-color;
			}

		}


	}

	.menu {

		.battery,
		.icon {
			&:hover {
				color: $button-accent-color;
			}
		}
	}

	.tray-button {

		.icon {
			color: $fg-color;

			&:hover {
				opacity: 0.8;
				color: $button-accent-color;
			}
		}
	}
}

// calendar

popover.calendar {
	// box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

	$darker: #00000011;
	$darker-2: #00000022;
	$lighter: #FFFFFF11;

	margin-top: 0.3rem;

	>arrow {
		border-width: 1px;
		border-style: solid;
		border-color: $darker-2;

		background-color: $bg-color;
	}


	/* Optional: for a shadow */
	>contents {
		border-width: 1px;
		border-style: solid;
		border-color: $darker-2;

		padding: 0.5rem;
		border-radius: 0.5rem;

		background-color: $bg-color;

		>box {

			// Gtk separator
			>separator {
				background-color: $darker;
				min-height: 2px;
			}

			>.navigation {

				padding: 0;

				>.section {

					padding: 0;
					// background-color: yellowgreen;

					>label {
						padding: 0;

						font-size: 1rem;
						font-weight: 400;
						font-family: 'Noto Sans CJK JP';
					}

					>box.month {
						// background-color: red;
					}


					>button {
						padding: 0.65rem 0.8rem;

						&:hover {
							background-color: $darker;
						}

						>label {
							padding: 0;
							font-size: 0.5rem;

						}
					}
				}
			}

			.days {

				font-family: 'Noto Sans CJK JP';

				>.row {
					padding: 0;

					label {

						padding: 0.25rem 0;
						margin: 0;
						border-radius: 0.2rem;
						font-weight: 500;

						&:hover {
							background-color: $darker;
							color: $fg-color;
						}

						&.inactive {
							color: gtkalpha($fg-color, 0.3);
						}
					}

					&.header {
						label {
							&:hover {
								background-color: transparent;
								color: $button-accent-color;
							}
						}
					}
				}
			}
		}


	}
}

// notification/

window.notifications {
	all: unset;
}

.notification {
	border-radius: $radius-large;
	background-color: $bg-color;
	margin: $spacing-medium $spacing-large;
	box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);
	border: 1pt solid gtkalpha($fg-color, 0.03);

	&.critical {
		border: 1pt solid gtkalpha($error-color, 0.4);

		.header {
			.app-name {
				color: gtkalpha($error-color, 0.8);
			}

			.app-icon {
				color: gtkalpha($error-color, 0.6);
			}
		}
	}

	.header {
		padding: $spacing-medium;
		color: gtkalpha($fg-color, 0.5);

		.app-icon {
			margin: 0 0.4rem;
		}

		.app-name {
			margin-right: $spacing-small;
			font-weight: bold;

			&:first-child {
				margin-left: 0.4rem;
			}
		}

		.time {
			margin: 0 0.4rem;
		}

		button {
			padding: 0.2rem;
			min-width: 0;
			min-height: 0;
		}
	}

	separator {
		margin: 0 0.4rem;
		background-color: gtkalpha($fg-color, 0.1);
	}

	.content {
		margin: $spacing-large;
		margin-top: $spacing-medium;

		.summary {
			font-size: 1.2em;
			color: $fg-color;
		}

		.body {
			color: gtkalpha($fg-color, 0.8);
		}

		.image {
			border: 1px solid gtkalpha($fg-color, 0.02);
			margin-right: $spacing-medium;
			border-radius: 9px;
			min-width: 100px;
			min-height: 100px;
			background-size: cover;
			background-position: center;
		}
	}

	.actions {
		margin: $spacing-large;
		margin-top: 0;

		button {
			margin: 0 $spacing-small;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}