#bar-0 {
  background-color: black;
  padding: 0 0.5rem;
  color: white; }
  #bar-0 .container .window .class .name {
    font-weight: bolder; }
  #bar-0 .container .window .class .icon {
    padding: 0 0.5rem;
    color: white; }
  #bar-0 .container .window .title {
    opacity: 0.5; }
  #bar-0 .container .right button {
    border: none;
    background-image: none; }
  #bar-0 .container .right .screenshot {
    color: #404040; }
    #bar-0 .container .right .screenshot.hover {
      color: #7f7f7f; }
  #bar-0 .container .right .network-button {
    border: none;
    border-radius: 0; }
    #bar-0 .container .right .network-button .network {
      color: white; }
  #bar-0 .container .right .battery .label {
    font-weight: bolder;
    padding: 0 0.7rem; }
  #bar-0 .container .right .workspaces-event-box .workspaces .workspace {
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    border: none; }
    #bar-0 .container .right .workspaces-event-box .workspaces .workspace label {
      font-weight: bolder; }
    #bar-0 .container .right .workspaces-event-box .workspaces .workspace .symbol {
      opacity: 0.25;
      color: white; }
      #bar-0 .container .right .workspaces-event-box .workspaces .workspace .symbol.icon.love-heart {
        color: #EC8282; }
    #bar-0 .container .right .workspaces-event-box .workspaces .workspace.occupied label {
      opacity: 0.5; }
    #bar-0 .container .right .workspaces-event-box .workspaces .workspace.occupied .icon.symbol {
      opacity: 1; }
    #bar-0 .container .right .workspaces-event-box .workspaces .workspace.active .symbol {
      opacity: 1; }
  #bar-0 .label-date {
    font-size: 1.25rem;
    font-weight: bold; }

/*
 * Wifi window
 */
.wifi {
  background-color: red; }

/*
 * screencorners
 */
.widget-corner {
  background-color: transparent; }

.corner-black {
  background-color: black;
  border-radius: 1.705rem; }
