[Desktop Entry]
Name=nnn
Comment=A simple file manager just for you!
Exec=flarity -e 'dash' '-c' 'nnn -dDoxR %U'
Icon=/home/iris/Base/icons/nnn.png
Terminal=false
Type=Application
Categories=Utility
MimeType=inode/directory
