[lwtheme-mozlightdark] tooltip {

  -moz-appearance  : none !important;
  background-color : var(--background) !important;
  border           : 1px solid var(--3) !important;
  color            : var(--color) !important;

}

// #. Hover_text_color.
tooltip {

  -moz-appearance: none !important;
  background:#232323 !important;
  color: #ededed;

}
